:root {
  --graygray-800: rgba(74, 71, 108, 1);
  --heading-h1-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h1-bold-desktop-font-weight: 700;
  --heading-h1-bold-desktop-font-size: 60px;
  --heading-h1-bold-desktop-letter-spacing: -1.2px;
  --heading-h1-bold-desktop-line-height: 72px;
  --heading-h1-bold-desktop-font-style: normal;
  --body2-normal-all-font-family: "Inter", Helvetica;
  --body2-normal-all-font-weight: 400;
  --body2-normal-all-font-size: 16px;
  --body2-normal-all-letter-spacing: 0px;
  --body2-normal-all-line-height: 24px;
  --body2-normal-all-font-style: normal;
  --body3-medium-all-font-family: "Inter", Helvetica;
  --body3-medium-all-font-weight: 500;
  --body3-medium-all-font-size: 14px;
  --body3-medium-all-letter-spacing: 0px;
  --body3-medium-all-line-height: 20px;
  --body3-medium-all-font-style: normal;
  --heading-h3-semi-bold-desktop-font-family: "Inter", Helvetica;
  --heading-h3-semi-bold-desktop-font-weight: 600;
  --heading-h3-semi-bold-desktop-font-size: 30px;
  --heading-h3-semi-bold-desktop-letter-spacing: -0.6px;
  --heading-h3-semi-bold-desktop-line-height: 36px;
  --heading-h3-semi-bold-desktop-font-style: normal;
  --subtitle-normal-desktop-font-family: "Inter", Helvetica;
  --subtitle-normal-desktop-font-weight: 400;
  --subtitle-normal-desktop-font-size: 20px;
  --subtitle-normal-desktop-letter-spacing: 0px;
  --subtitle-normal-desktop-line-height: 28px;
  --subtitle-normal-desktop-font-style: normal;
  --body1-normal-dektop-font-family: "Inter", Helvetica;
  --body1-normal-dektop-font-weight: 400;
  --body1-normal-dektop-font-size: 18px;
  --body1-normal-dektop-letter-spacing: 0px;
  --body1-normal-dektop-line-height: 28px;
  --body1-normal-dektop-font-style: normal;
  --body-small-font-family: "Poppins", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 12px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
  --body2-medium-all-font-family: "Inter", Helvetica;
  --body2-medium-all-font-weight: 500;
  --body2-medium-all-font-size: 16px;
  --body2-medium-all-letter-spacing: 0px;
  --body2-medium-all-line-height: 24px;
  --body2-medium-all-font-style: normal;
  --primitives-gray-50: rgba(249, 250, 251, 1);
  --primitives-gray-100: rgba(243, 244, 246, 1);
  --primitives-gray-200: rgba(229, 231, 235, 1);
  --primitives-gray-600: rgba(75, 85, 99, 1);
  --primitives-gray-700: rgba(55, 65, 81, 1);
  --primitives-gray-800: rgba(31, 41, 55, 1);
  --primitives-gray-900: rgba(17, 24, 39, 1);
  --primitives-gray-default: rgba(255, 255, 255, 1);
  --primitives-gray-dark-default: rgba(3, 7, 18, 1);
  --primitives-gray-dark-50: rgba(17, 24, 39, 1);
  --primitives-gray-dark-100: rgba(31, 41, 55, 1);
  --primitives-gray-dark-200: rgba(55, 65, 81, 1);
  --primitives-gray-dark-600: rgba(209, 213, 219, 1);
  --primitives-gray-dark-700: rgba(229, 231, 235, 1);
  --primitives-gray-dark-800: rgba(243, 244, 246, 1);
  --primitives-gray-dark-900: rgba(249, 250, 251, 1);
  --primitives-gray-default-50: rgba(255, 255, 255, 0.5);
  --primitives-gray-dark-default-50: rgba(3, 7, 18, 0.5);
  --primitives-gray-900-10: rgba(17, 24, 39, 0.1);
  --primitives-gray-dark-900-10: rgba(249, 250, 251, 0.1);
}
